<!DOCTYPE html>

<html>
    <head>
        <title>TIER</title>
        <link rel="icon" href="/img/deer.png">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
        <div class="main-content">          
            {{>header}}

            <p>Use this site to get your TIER short-url!</p>

            <form>
                <input placeholder="Enter a URL">
                <button>Create</button>
            </form>

            <p id="message-1"></p>
            <a id="message-2" href=""></a>

        </div>
            
        {{>footer}}

        {{!-- It hast to be placed here so the script runs until the page had loaded. --}}
        <script src="/js/app.js"></script>
    </body>

</html>